/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25 janv. 2016, 22:13:48
    Author     : root
*/

html, body{
    margin: 0px;
    padding: 0px;
    height: 100%;
    overflow: hidden;
}

body{
    background-image: url("/view/ressources/image/background/sky.png");
    background-size: 110%;
}



div#load{
    top:0px;
    position: fixed;
    padding-top:25%;
    height: 100%;
    width: 100%;
    z-index: 5;
    background-color: rgba(0,0,0,0.97);
}

div#load p{
    text-align: center;
    color: #FFFFFF;
    margin-top: 20px;
    font-size: 25px;
}

div#load img{
    display: block;
    margin: auto;
    text-align: center;
    vertical-align: middle;
}

img.cloud{
    position: fixed;
    z-index: 0;
    up: 50px;
}

img.astre{
    position: fixed;
    z-index: -1;
    top:30px;
    right:40px;
    width:100px;
}